.body-background{
    background-color:rgb(177, 177, 177);
}
.main-div{
    width: 600px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.first-div{
    background-color: white;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.header{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(137, 49, 49);
    padding-top: 25px;
    padding-bottom: 25px;
}
.second-div{
    background-color: rgb(224, 223, 223);
}
.column-layout{
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.text{
    color: rgb(137, 49, 49);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
    font-weight: bold;
    padding-bottom: 3px;
}
.radio-btns-txt{
    color: rgb(137, 49, 49);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.box{
    width:250px;
    height:25px;
}
.button {
    border: none;
    background-color: rgb(59, 58, 58);
    background-image: linear-gradient(to right, #474545 0%, #83807f 51%, #474545 100%);
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    height: 30px;
    width: 130px;
}
.button-layout{
    padding-top: 10px;
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 30px;
}